<!DOCTYPE html>
<html lang="{{ .Language }}">
  <head>
    <meta charset="utf-8" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Bako Garage Web site">
    <meta name="author" content="Boyd Kelly">
    <meta name="robots" content="index">
    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Title }}</title>
    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/google_analytics.html" . }}

    {{ $options := (dict "targetPath" "/css/style.css" "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "custom.scss" "custom1.scss")) }}
    {{ $style := resources.Get "main.scss" | resources.ToCSS $options }}
    <link href="{{ $style.Permalink }}" rel="stylesheet">
  </head>
{{- /* vim: set ts=2 sw=2 et: */}}
